/**
 * Zoom CSS fixes
 */
 @mixin zoom-portrait {
  #zmmtg-root {
    // if #zoom-container is [16:9], canvas.active-video-container__canvas should be correctly set by zoom
    min-height: 211px;

    [role=presentation] {
      .common-ui-component__dropdown-divider {
        margin: 2px auto;
      }
      footer.footer {
        .more-button__pop-menu {
          font-size: smaller;
        }
      }
    }
  }
}


@mixin zoom-landscape {
  #wc-container-left .main-layout {
    // center vertically
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .active-video-container__wrap {    
    width: 100% !important;
    height: 100% !important;
  }
}


#zmmtg-root#zmmtg-root {
  position: relative;
  border-radius: 10px;
  display: none;
  &.hydrated {
    display: block;
  }
  &, .main-content {
    height: 100% !important;
  }
  [role=presentation] {
    // join dialog
    width: 100% !important;
  }


  &.portrait {
    @include zoom-portrait;
  }
  &.landscape {
    @include zoom-landscape;
  }
  @media (max-width: 767px) {
    @include zoom-portrait;
  }
  @media (min-width: 768px) {
    @include zoom-landscape;
  }

  



  .meeting-app { 
    //  fill #zmmtg-root, override explicit w/h set by zoom
    height: 100% !important; 
    width: 100% !important;
    .wc-container-left {
      // fill #zmmtg-root .meeting-app
      .main-layout {
        // => center horizontially
        width:100%; 
        // align-items: start;  (top)
        // leave 52px on bottom for footer
  
        .active-video-container__wrap {
          // set width to maximize canvas#main-video height
          // w1=w0/h0*(h1-footerH)

          // portrait
          // .flex-wrap.zoom #app-container flex-grow determines .wc-container-left[height]
          width: 337.77px; // 16/9 *(243-53) = 1.77 * (.wc-container-left[height]-.wc-footer[height])

          // ==> zoom sets video H as W/[16:9], so set #zoom-container flex-grow the same way



          canvas.active-video-container__canvas  {
            // explicit width, height set by zoom, 
            // get aspect ratio: width/height
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }
    .join-dialog {
      top: 30%;
      .join-audio-by-voip__join-btn {
        margin-top: unset;
        font-size: small;
      }
    }
  }

  
  .meeting-client {
    &, .meeting-client-inner {
      position:unset;
    }
    #wc-content {
      position: unset;
      #wc-container-left {
        // meeting/video container
        .sharing-layout {
          & .sharee-container__viewport {
            width: 100% !important;
            height: 100% !important;
          }
        }
        .main-layout {
          width: 100%;
        }
      }
      #wc-container-right {
        // chat window
      }
      #sv-active-speaker-view {
        // sv=="speaker-view" or spotlight video?
        .active-main {
          // height: 100% !important;
          .active-avatar {
            height: 50%;
          }
          canvas#sv-active-video {
          }
          canvas#active-my-canvas {
            position: absolute;
            left:0;
            z-index: 2;
          }
        }
      }
      #wc-footer.footer {
        border-radius: 0 0 10px 10px;
        #wc-footer-left {
          min-width: 116px;
          .join-audio {
            width: 48px;
            min-width: 48px;
          }
        }
        .footer-button__button {
          width: 48px;
        }
        .footer__leave-btn {
          line-height: 100%;
        }
      }
    }
    #dialog-join.diaout-layer {
      // contains 'join audio by computer' button
      width:unset !important;
      bottom: unset !important;
      position: relative;
    }
  } // end: .meeting-client-inner
}

// fit to container
.ReactModalPortal.ReactModalPortal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .ReactModal__Overlay {
    position: relative !important;
    height: 100%;
  }
  .suspension-canvas-layer {
    canvas#suspension-active-video {
      // marked as [zoom username]

    }
    canvas#suspension-my-canvas {
      // selfie video for [player.displayName]

    }
    video#suspension-my-video {

    }
  }
}

body > .ReactModalPortal.ReactModalPortal{
  display:none;
}

/**
 * END Zoom CSS fixes
 */



/**
* react modal portal
*/
.global-pop-up-box {

  .global-pop-up-box__main-area {
    max-width: 90vw;
  }

}



// react modal font sizes
.join-dialog__tabs .zmu-tabs__tab-container .zmu-tabs__tabs-list .zmu-tabs__tab-bar .tab-bar-node {
  font-size: small;
}

